[Unit]
Description=Execute X-NAS custom pre-init tasks
DefaultDependencies=no

Before=network-pre.target

After=xnas-zfs.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=midclt call --job initshutdownscript.execute_init_tasks PREINIT
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
