#!/usr/bin/make -f
#export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_install:
	sh -c "\
		mkdir -p debian/xnas-files/etc; \
		cp -a etc debian/xnas-files/; \
		cp -a usr debian/xnas-files/; \
		mkdir debian/xnas-files/home; \
		cp -a root debian/xnas-files/home/xnas_admin; \
		chmod 700 debian/xnas-files/home/xnas_admin; \
		chown -R 950:950 debian/xnas-files/home/xnas_admin; \
		cp -a root debian/xnas-files/; \
		chmod 700 debian/xnas-files/root; \
		mkdir -p debian/xnas-files/conf/base/etc; \
		mkdir -p debian/xnas-files/usr/share/misc; \
	"

override_dh_fixperms:

override_dh_shlibdeps:

override_dh_usrlocal:
